.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #4da8db;
}

.top:hover{
    background-color: #59b7ee;
    cursor: pointer;
}

.line_bar span{
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

.line_bar a{
    color: white;
    font-size: 1.1rem;  
    text-decoration:underline white;
}

.default{
    background-color: #14233c;
    height: 85vh;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p{
    padding: 20% 23%;
    border: 1px solid gray;
    min-width: 3rem;
}

.pic{
    padding: 20% 23%;
    border:1px solid gray;
}

.join_link {
    display: flex;
    padding: 7rem 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.join_link p {
    padding:3rem 0;
    width: 100%;
    border: 1px solid black;
}
.join_link button{
    margin: 1rem;
    background-color: black;
    padding: 2rem 5rem;
    border-radius: 10px;
}

.default_white{
    height: 85vh;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fcf8e5; 
}

.reverse{
    height: 85vh;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1fce5;   
}

.reverse_gray{
    height: 85vh;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f7f7f7; 
}

footer{
    background-color: #14233c;
    height: 75vh;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}